.clientCard {
    background-color: #fff;
    color: #000;
    font-weight: 600;
    width: 100%;
    height: 4em;
    border-radius: 1em;
    padding: 2.5em 2em 2.5em 2em;


    .city {
        font-weight: 400;
        font-size: 0.8em;
    }
}